body,html{
    background-color: #444;
    overflow: hidden;
    padding: 0;
    height: 100vh;
}
.sidebar-container{
    background: #111;
    position: relative;
    height: 560px;
    top:0;
    overflow: scroll;
    bottom: -20px;
}
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.canvas-container > div {
    overflow-x: scroll;
    overflow-y: scroll;
    max-width: 1100px;
    max-height: 540px;
    position: relative;
    top:-10px;
}
#wave{
    background-color: #000;
}
.player-container {
    display: flex;
    justify-content: left;
    align-items: center;
    background: #222;
}
.player-container .button{
    background: none;
    color: #fff;
    border: none;
}

.player-button {
    margin-right: 10px;
    border-radius: 50%;
}

.bottom{
    position: fixed;
    bottom: -10px;
    width: 101vw;
}
.player-button .icon {
    margin: 0 !important;
}

.progress {
    width: 100% !important;
}

.column.menu-bar {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: #23d160;
}
.column.menu-bar .button{
    color:#fff;
    background: none;
    border: none;
    padding: 20px 5px;
}
.column.menu-bar .button:hover{
    background: #21c65b;
}
.icon span{
    font-size: 0.6em;
    position: relative;
    top:-3px
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button,::-webkit-scrollbar-corner,::-webkit-scrollbar-track-piece{
    background-color: #222;
}
::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background-color: #23d160;
}

input.threshold {
    display: inline !important;
    width: 100px;
    position: relative;
    top:5px
}

.sidebar-container{
    padding: 10px 15px;
}

.sidebar-container .button{
    pointer-events: none;
    background: none;
    border:none;
    color:white;
}
.sidebar-container .file-name{
    font-size: 1.2em;
    font-weight:bold;
    color: #23d160;
    overflow: auto;
}
#file-format,#silence-positions{
    color:#fff;
}
#file-format{
    padding-left: 10px;
}
#silence-positions .icon{
    position: relative;
    display: inline-block;
    color: #23d160;
}
#silence-positions div{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
}
#silence-positions div .icon{
    position: relative;
    top: 2px;
}
#silence-positions div:hover{
    background: #23d160;
    cursor: pointer;
}
#silence-positions div:hover .icon{
    color: #ffffff;
}
#silence-positions>div>span{
    display: inline-block!important;
    width: 25% !important;
}
#silence-positions>div>span:last-child{
    text-align: right;
}
#silence-positions>div>span:first-child{
    padding-left: 10px;
}